.app {
  .app-buts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @media (min-width: 576px) {
      & {
        justify-content: flex-start;
      }
    }
  }
}
